.main-head{
    background-color: blue;
    color: black;
}
.main{
    width: 50%;
    height: 100%;
}
.main-tbody{
    background-color: black;
    color: aliceblue;

}
.main-tfoot{
    background-color: black;
    color: antiquewhite;
}

